__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env
*.egg-info/
dist/
build/
.git
.gitignore
docker-compose.yaml
README.md
tests/

# Local configuration files
config/local.py
config/remote.py